// 載入 bootstrap
@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/bootstrap";
// 載入 step bar
@import "./helpers/stepbar";
// 載入確認動畫
@import "./helpers/checkanimation";
// 載入購物車
@import "./helpers/cart";
// 載入為愛列表
@import "./helpers/favorite";

.logo-size {
  width: 220px;  
  @include media-breakpoint-down(md) {
    width: 170px;
  }
}

.carousel {
  .carousel-item {
    max-height: 500px;

    img {
      min-height: 400px;
      max-height: 500px;
      object-fit: cover;
    }

  }

  // 調整跑馬燈左右箭頭的寬度
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }

  .mobile-bg {
    background-color: rgba(0, 0, 0, .5);
  }

  .carousel-font-title {
    font-size: 2.5rem;
    @include media-breakpoint-down(md) {
      font-size: 1.3rem;
    }
  }

  .carousel-font-content {
    font-size: 1rem;
    @include media-breakpoint-down(md) {
      font-size: 0.8rem;
    }
  }
}


.hot-sale {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 10px;
  padding-bottom: 5px;
}

.card {
  transition: all 0.3s ease-out;

  &:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    margin: -0.2rem;
    cursor: pointer;
  }

}

.card-position {
  position: relative;

  .card-cart {
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    bottom: 1rem;
    right: 1.5rem;
  }
}

.carousel-zindex {
  z-index: 0;
}

.side-wrap {
  position: relative;

  &:after {
    background: #AF945E;
    bottom: -30px;
    content: "";
    left: -30px;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: -99;
  }

  .side-img {
    max-width: 100%;
  }

  .side-text {
    position: absolute;
    bottom: 10px;
    right: 30px;
  }
}

.through-line {
  text-decoration: line-through;
}

.banner {
  position: relative;
  min-height: 350px;
  background-size: cover;
  background-position: center center;

  .banner-text {
    position: absolute;
    top: 10rem;
    right: 1rem;
    font-size: 3rem;

    @include media-breakpoint-down(md) {
      top: 5rem;
      right: 1rem;
      font-size: 1.2rem;
    }
  }
}

.focus-none {
  outline: 0px !important;
  box-shadow: none !important;
}

.hide-login {
  opacity: 0;
}

.heart-position {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: all 0.5s;

  // 去除按鈕外框
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    transform: scale(2);
  }
}

.vertical-text {
  writing-mode: vertical-rl;
}

.section-bg {
  background-color: rgb(236, 226, 212);
}

.section-line-height {
  line-height: 2;

  @include media-breakpoint-down(md) {
    line-height: 1.5;
  }
}

.section-title {
  margin: -20px 0;

  // 讓圖片在行動模式下消除 margin
  @include media-breakpoint-down(md) {
    margin: 0 0;
  }
}

.section-img {
  margin: -20px 0;
  max-height: 350px;

  // 讓圖片在行動模式下消除 margin
  @include media-breakpoint-down(md) {
    margin: 0 0;
  }
}

// 讓行動模式下的這個區域滿版
.full-width {
  @include media-breakpoint-down(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.animatedY {
  opacity: 0;
  transition: all 1.5s;
  transform: translateY(-4rem);
}

.animatedLR {
  opacity: 0;
  transition: all 1.5s;
  transform: translateX(-4rem);
}

.fadeInY {
  opacity: 1;
  transform: translateX(0rem);
}

.fadeInLR {
  opacity: 1;
  transform: translateX(0rem);
}

// scrollbar 用
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  border-radius: 10px;
  margin: 80px 0 5px 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border-radius: 4px;
  background: rgb(219, 219, 219);
}

// 用於將 footer 定位在最下面
.footer_position {
  position: relative;
  min-height: 100%;

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.detail-bg {
  min-height: 400px;
  background-size: cover;
  background-position: center center;
}