.cart-dropdown {
  position: fixed;
  right: 15px;
  bottom: 25px;
  z-index: 99;

  .cart-color {
    background-color: #CDA34F;
  }

  .btn-cart {
    border-radius: 50px;
    height: 60px;
    width: 60px;

    .cart-icon {
      position: relative;

      .cart-qty {
        font-size: 14px;
        position: absolute;
        top: -10px;
        right: -3px;
        border-radius: 50%;
        height: 15px;
        width: 15px;
      }
    }
  }

  .cart-menu {
    display: none;
    max-width: 400px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
  }
}

.cart-dropdown.show {
  .cart-menu {
    display: block;
    min-width: 370px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}