.favorite-dropdown {
  position: fixed;
  right: 15px;
  bottom: 100px;  
  z-index: 98;

  .favorite-color {
    background-color: #C06014;
  }

  .btn-favorite {
    border-radius: 50%;
    width: 60px;
    height: 60px;

    .favorite-icon {
      position: relative;

      .favorite-qty {
        font-size: 14px;
        position: absolute;
        top: -14px;
        right: -7px;
        border-radius: 50%;
        height: 15px;
        width: 15px;
      }
    }
  }

  .favorite-menu {
    display: none;
    max-width: 400px;
    z-index: 1;
    position: fixed;
    bottom: 190px;
    right: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
  }
}

.favorite-dropdown.show {
  .favorite-menu {
    display: block;
    min-width: 330px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}